.data{
    background-color: #202124;
    width: 100vw;
    height: 86vh;
    min-height: fit-content;
}

@media screen and (max-width:1100px) {
    .data{
        height: 100vh;
    }
    
}

@media screen and (max-width:650px) {
    .data{
        height: 230vh;
    }
}