*{
    margin: 0;
    padding: 0;
    border: none;
    color: #111;
}
:root{
    font-family: 'Segoe UI', sans-serif;
    color: red;
}

a:link{
    color: #111;
    text-decoration: underline;
}
a:visited{
    color: #111;
}
a:hover{
    color: red;
    text-decoration: underline;
}
a:active{
    color: #111;
}

.home{
    width: 100vw;
    height: 100vh;
    
}

.design{
    z-index: -1;
    filter: blur(3px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: whitesmoke;
}


.glass{
    z-index: -21;
    background-color: rgba(255,255,255,0.1);
    width: 100vw;
    height: 100vh;
}

.content{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credit{
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.heart{
    display: inline;
    color: red;
}

.logo{
    height: 20em;
    width: 30em;
    background-image: url("../Asset/opensky.svg");
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.searchInput{
    height: 3em;
    width: 24em;
    border-radius: 35px;
    border: 1px solid #111;
    background-color: rgba(255,255,255,1);
    color: #111;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0px;
}
.searchInput:focus{
    border-right:0px;
    outline: none;
}
searchInput:active{
    border-right:0px;
}
searchInput:hover{
    border-right:0px;
}

.clear{
    background-color: white;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    height: 2.5em;
    width: 1em;
    font-size: larger;
}

.mic{
    height: 2.5em;
    width: 2em;
    font-size: larger;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mic:hover{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
.s{
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-items: center;
}
.search{
    height: 2.5em;
    width: 2em;
    padding-right: 0.5em;
    font-size: larger;
    background-color: white;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    border-right: 1px solid #111;
    border-radius: 0 35px 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search:hover{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}